.home {
  font-size: 1rem;
  line-height: 2;
}

#logo {
  height: 125px;
}

.blogs {
  max-width: 50em;
}

footer {
    padding: 10px 0;
    font-size: .9rem;
    color: #AAA;
    border-top: #DDD 1px solid;
    margin-top: 25px;
}
