---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include back-link.html %}
{% else %}
  <header class="site-masthead">
          {% include menu.html %}
  </header>
{% endif %}

<main class="home" id="main" role="main" aria-label="Content">

  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-md-4">
        <img src= "{{ site.baseurl }}/assets/images/ammachai.svg" alt="">
      </div>
      <div class="col-md-7">
        <div class="row">
          <p class="pb-4">Dear Parents,</p>
          <p></p>
          <p>Are you observing a <strong>short attention span, moodiness, difficulty in sleeping, aggression or loss of confidence</strong> in your young kid? According to various studies one of the major reasons for this behavior can be attributed to long screen time for the kids and lack of quality time with their parents. I believe that every parent tries his/her best to provide the best for their kids but worldly commitments sometimes make it hard to give as much time as we want to give to our kids.</p>

          <p class="pt-2">As a solution, I'm bringing the time tested tradition of storytelling in a whole new way which will empower parents to provide a long lasting positive impact on their kids with the limited time they have. The work is on, I'm hopeful of launching the alpha phase in <span id="demo"></span> days. If you're interested, please follow me on <a href="https://www.instagram.com/ammastories/">Instagram</a> or subscribe through your email below. I assure you will not get more than one email a month from me.</p>

          <p class="pt-2">Looking forward to reviving storytelling together.</p>

          <p class="pt-4">Yours Lovingly,</p>
          <p>Amma</p>
        </div>
        <div class="row">
          <div class="row">
            <form
              action="https://formspree.io/f/mjvdpbew"
              method="POST"
              class="pt-4"
            >
              <label>
                <input type="email" name="email" placeholder="Email" class="form-control">
              </label>
              <!-- your other form fields go here -->
              <button class="btn btn-primary" type="submit">Subsribe</button>
            </form>

          </div>
        </div>
      </div>

    </div>

  </div>

</main>

<script>
// Set the date we're counting down to
var countDownDate = new Date("Sep 30, 2023 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is over, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
